# IBM Cloud Credentials
IBM_API_KEY=yY5Fl6or5ZxGGYwUFZwlLXqetXOEaoJrNltEQ4F4N0M-
IBM_PROJECT_ID=0982a73f-6547-43c3-9cf3-b7687c34b698
IBM_REGION=us-south

# Flask Config
FLASK_SECRET_KEY=your_secret_key_here
FLASK_DEBUG=False
